.main-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.main-container h1 {
  color: var(--color-text);
  font-size: 80px;
  font-weight: 700;
  margin-top: 50px;
}

.main-container img {
  height: 500px;
  width: 500px;
  border-radius: 15px;
}

/* Smartphone */
@media screen and (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container h1 {
    color: var(--color-text);
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
  }

  .main-container img {
    height: 200px;
    width: 300px;
    border-radius: 15px;
    margin-top: 20px;
  }
}

/* Tablete */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .main-container h1 {
      color: var(--color-text);
      font-size: 40px;
      font-weight: 700;
      margin-top: 50px;
    }
  
    .main-container img {
      height: 200px;
      width: 300px;
      border-radius: 15px;
      margin-top: 20px;
    }
  }
